<html>
    <head>
        <title>Chapa-Integration</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">
              <img src="https://developer.chapa.co/uploads/logo_chapa.svg" class="d-inline-block align-top" alt="">
              Chapa Integration
            </a>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <form action="/pay" method="post">
                        <div class="row col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" class="form-control" name="first_name" id="first_name" placeholder="First Name">
                                </div>
                                
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Last Name">
                                </div>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Title</label>
                                    <input type="text" class="form-control" name="title" id="title" placeholder="Title">
                                </div>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>amount</label>
                                    <input type="number" class="form-control" name="amount" id="amount" placeholder="amount">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Company</label>
                                    <select class="form-control" name="currency" id="currency" required>
                                        <option value="">Select currency</option>
                                        <option value="ETB">ETB</option>
                                        <option value="USD">USD $</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <button type="submit" class="btn btn-primary">Pay</button>

                        </div>
                      </form>
                </div>
            </div>
        </div>
    </body>
</html>
